<div class="container">
    <div class="alert alert-success mt-3" *ngIf="isUserAuthenticated">
        User is authenicated ,Please enter your password to reset
    </div>
</div>
<div class="container mb-5"  *ngIf="!isPasswordFormEnabled">
    <div class="row justify-content-center align-items-center">
      <form (ngSubmit)="onSubmit()" [formGroup]="forgetForm"
      class="border border-info rounded p-4 mt-5 col-lg-6 col-lg-offset-1">
  
        <div class="alert alert-danger" role="alert" *ngIf="isError">
          Invalid Username 
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>  <i class="material-icons mat-icon">vpn_key</i>  Forget Password</h2>
            <div class="form-group mt-3">
              <label class="font-weight-bold"for="username">Enter your username</label>
              <input type="text" class="form-control" formControlName="username" id="username"
                placeholder="Enter Username">
  
            </div>
          </div>
        </div>
       
  
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgetForm.valid">Authenticate username</button>
          </div>
        
        </div>
      
      </form>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-success mt-3" *ngIf="isPasswordUpdated">
       Password Updated Successfully, <a  href="#" [routerLink]="['/login']">Click here</a> to navigate to Login Page 
    </div>
</div>



  <div class="container mb-5"  *ngIf="isPasswordFormEnabled && !isPasswordUpdated">
    <div class="row justify-content-center align-items-center">
      <form (ngSubmit)="onPasswordSubmit()" [formGroup]="passwordForm"
      class="border border-info rounded p-4 mt-5 col-lg-6 col-lg-offset-1">
  
       
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>  <i class="material-icons mat-icon">lock_open</i> Reset your  Password</h2>
            <div class="form-group mt-3">
              <label class="font-weight-bold"for="username">Enter your Password</label>
              <input type="text" class="form-control" formControlName="password" id="username"
                placeholder="Enter Your Password">
                <div class="text-danger"
                    *ngIf="passwordForm.get('password').touched && passwordForm.get('password').hasError('required')">
                    <small>Password is
                        required.</small>
                </div>
                <div class="text-danger"
                *ngIf="passwordForm.get('password').touched && passwordForm.get('password').hasError('minlength')">
                <small>Please enter valid Password
                    </small>
            </div>
            </div>
          </div>
        </div>
       
  
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!passwordForm.valid">Reset Password</button>
          </div>
        
        </div>
      
      </form>
    </div>
  </div>
