<div class="container mt-3 mb-5 pb-5">

    <div class="alert alert-danger text-danger" *ngIf="!isTweetsAvailable">No Tweets Found</div>
  
   
    <ul class="list-group mt-3" *ngIf="isTweetsAvailable">
        <div class="row  m-2">
            <div class="col-md-12">
                <h4 class="text-info">YOUR TWEETS :</h4>
                <div class="alert alert-danger"  *ngIf="isDeleted">Tweet Deleted successfully</div>
            </div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="isLoading">
            <img style="width:75px;height:75px;"src="assets/loading-png.gif"/>
        </div>
        <li class="list-group-item m-2 border-info" *ngFor="let tweet of tweets">
            <div class="row">
                <div class="col-md-6">
                    <h5>Tweet By <span class=" text-muted">{{tweet.firstname|uppercase}}</span></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Tweet: <span class=" text-muted">"{{tweet.tweet}}"</span></h5>
                </div>

                <div class="col-md-6">
                    <h5>Posted on: <span class=" text-muted">{{tweet.date| date :'MMMM d, y'}} at <span class=" text-muted">{{tweet.date|date:'h:mm a'}}</span></span></h5>
                </div>
            </div>
            <div class="row">
               

                <div class="col-md-6">
                    <h5>{{tweet.likes}} Likes</h5>
                </div>
                <div class="col-md-2 col-sm-4 mb-2">
                    <button type="button" class="btn btn-outline-success" (click)="onLike(tweet.id)">Like <i class="material-icons mat-icon">thumb_up</i></button>
                </div>
                <div class="col-md-2 col-sm-4 mb-2">
                    <button type="button" class="btn btn-outline-secondary" (click)="onEdit(tweet.id)">Update <i class="material-icons mat-icon">edit</i></button>
                </div>
                <div class="col-md-2 col-sm-4 mb-2">
                    <button type="button" class="btn btn-outline-danger" (click)="onDelete(tweet.id)">Delete <i class="material-icons mat-icon">delete</i></button>
                </div>
             
            </div>
          
         

        </li>


    </ul>
</div>

